.navbar {
    position: relative;
    width: 100%;
    padding: 10px 0;
    background-color: red;
    text-align: center;
}

ol {
    position: relative;
    left: 50%;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    list-style-type: none;
    font-size: 32px;
    height: 40px;
    line-height: 170%;
    display: inline-block;  
}

ol > :first-child {
    border-left: 2px solid darkred;
}

ol > li {
    position: relative;
    right: 50%;
    float: left;
    width: 300px;
    border-right: 2px solid darkred;
}



ol > li:hover {
    background-color: #fc5d5d;
}

a {
    color: white;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
}