.ability {
    display: flex;
    border: 6px solid red;
    border-radius: 20px;
    margin: 30px;
    margin-left: 150px;
    z-index: 9;
}

.ability-name {
    position: relative;
    display: inline;
    float: inline-start;
    text-align: left;
    padding: 10px;
    height: 50px;
    border: 2px solid red;
    font-weight: 500;
    font-size: 25px;
    z-index: 9;
}

.description {
    display: block;
    padding: 15px;
    padding-right: 25px;
    text-align: justify;
    z-index: 9;
}
